* {
    margin: 0;
    padding: 0;
}
body {
    transition: all 1s linear;
    position: relative;
}
.index {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 100px auto;
    border-radius: 50%;
    box-shadow: 5px 5px 10px red;
    transform: translate(200px);
    position: absolute;
    left: 0;
    top: 0;
}
.demo {
    width: 50px;
    height: 50px;
    background-color: red;
}